@use '_variables' as var;

.contactUs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%; // Center vertically
    background: var.$nav-bg;
    color: var.$text-color;
    text-align: center;

    .div_header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        background-color: var.$h1-color;
        width: 100%;
        .header{
            color:var.$nav-bg;
            font-size: 45px !important;
            text-transform: uppercase;
        }
      }
    
      .form-container{
        display: flex;
        height: 100%;
        padding: 40px;
        align-items: center;
        justify-content: center;
        gap: 15px;
    
        form {
            display: flex;
            width: 40vw;
            flex-direction: column;
            gap: 15px;
    
            label{
                text-align: left;
                font-weight: bold;
            }
            input {
                width: 100%;
                height: 3rem;
                padding: 5px;
                border: 2px solid var.$border-color;
                border-radius: 10px;
                font-size: 18px;
                transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
              
                &::placeholder {
                  font-size: 18px;
                  opacity: 1;
                  transition: opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
                }
              
                &:focus {
                  border-color: var.$hover_nav;
              
                  &::placeholder {
                    opacity: 0.4;
                    font-size: 16px;
                  }
                }
              }
            
            textarea{
                height: 12rem;
                padding: 15px;
                border: 2px solid var.$border-color;
                border-radius: 10px;
                font-size: 18px;
                transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
              
                &::placeholder {
                  font-size: 18px;
                  opacity: 1;
                  transition: opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
                }
              
                &:focus {
                  border-color: var.$hover_nav;
              
                  &::placeholder {
                    opacity: 0.4;
                    font-size: 16px;
                  }
                }
            }
            .file_style{
                border: 2px solid transparent;
            }
            button {
            width: 100%;
            height: 3rem;
            background: var.$submit-button-color;
            color: var.$submit-button-text-color;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            font-size: 18px;
            transition: background 0.3s ease;
    
                &:hover {
                    background: var.$submit-button-color-hover;
                }   
            }
        }
      }

}

.content-successful{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; // Center vertically
    background: var.$nav-bg;
    color: var.$text-color;
    text-align: center;
  p{
    font-size: 30px;
  }
  .header2{
    font-size: 45px !important;
        }
      .button-container{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        .button2{
            background: var.$submit-button-color;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            margin-left: 1rem;
            padding: 1rem;
            background: var.$submit-button-color;
            color: var.$submit-button-text-color;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            font-size: 18px;
            transition: background 0.3s ease;
    
                &:hover {
                    background: var.$submit-button-color-hover;
                }   
         }
      }
    
}

@media (max-width: 1000px){
    .contactUs-container{
      .form-container {
        form{
            width: 70vw;
        }
      }
    }
    .content-successful{
        padding: 3rem;

        p{
            font-size: 25px;
          }
          .header2{
            font-size: 35px !important;
                }
        .button-container{
            display: flex;
            flex-direction: column;

            .button2{
                margin-left: 0;
                margin-top: 1rem;
            }
        }
    }
    
  }